{% extends "base.html" %}

{% block pageheader %}
    {{ block.super }}
    <small>{{ page.name }}</small>
{% endblock %}

{% block content %}

<table class="table table-hover matrix">
    <thead>
        <tr>
            <th rowspan="2" width="20%">Output</th>
            <th colspan="{{ num_inputs }}">Inputs</th>
        </tr>
        <tr>
            {% for input in page.allowed_inputs.all %}
                <th width="{{ col_width }}%">{{ input.number }} <br /><small class="hidden-xs text-muted">{{ input.label }}</small></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for output in page.allowed_outputs.all %}
        <tr>
            <th scope="row">{{ output.number }} <small class="hidden-xs text-muted">{{ output.label }}</small></th>
            {% for input in page.allowed_inputs.all %}
                <td>
                    <input name="output-{{ output.number }}"
                           value="{{ input.number }}"
                           {% if output.is_blank or input.is_blank %}disabled="disabled"{% endif %}
                           {% if state|get_item:output.number == input.number %}checked="checked"{% endif %}
                           type="radio" />
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript">

$( function() {
    $(".matrix td").click( function( evnt ) {
        var input = $(this).find("input");
        if( ! input.prop("disabled") ) {
            input.prop('checked', true).change();
        }
    });

    $("input[type=radio]").change( function(evnt) {
        var output = $(this).prop("name").replace("output-", "");
        var input = $(this).prop("value");
        var url = "/api/switch_video/" + output + "/" + input + "/";
        $.get(url).done( function() {} ).fail( function() { alert("failed") } );
    });

    /* Poll for updates */
    window.setInterval( function() {
        $.get("/api/get_video_state/").done( function(result) {
            for( x in result) {
                var output = "output-" + x;
                var input = result[x];
                $("input[name=" + output + "][value="+ input +"]").prop("checked", true);
            }
        })
    }, 1000);

});
</script>
{% endblock %}