{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Kramer Web Control{% endblock %}</title>


    {% block css %}
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}">
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>{% block pageheader %}Kramer Web Control{% endblock %}</h1>
        </div>
        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
    {% endblock %}
  </body>
</html>
